@use "sass:color";
@import "utils";
@import "../../node_modules/bootstrap/scss/mixins/border-radius";

$prefix: "nv-";

// Colours
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$yellow-100: tint-color($yellow, 80%);

$primary: #6d2537;
$secondary: #82586d;
$success: #5d9130;
$info: #c14643;
$warning: #fcba64;
$danger: #e41f66;
$light: #fad0cd;
$dark: #130724;
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $light;
$body-color: rgb(19, 7, 36);
$body-text-align: null;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: true;
$enable-button-pointers: true;

// Spacing
$spacer: 1rem;

// Components
//
// Define common padding and border radius sizes and more.

$border-width: 1px;

$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;

$border-style: solid;
$border-color: rgba($black, 0.15);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
$font-family-base: var(--#{$prefix}font-sans-serif);
$font-family-code: var(--#{$prefix}font-monospace);

$font-size-root: null;
$enable-smooth-scroll: true;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

$line-height-base: 1.5;

$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 700;
$headings-margin-bottom: $spacer * 0.5;
$headings-line-height: 1.2;
$headings-color: null;

$hr-margin-y: $spacer;
$hr-color: inherit;
$hr-border-width: $border-width;
$hr-border-color: null; // Allows for inherited colors
$hr-opacity: 0.25;

$legend-margin-bottom: 0.5rem;
$legend-font-size: 1.5rem;
$legend-font-weight: null;

$dt-font-weight: $font-weight-bold;

$small-font-size: 0.875em;

$mark-padding: 0.1875em;
$mark-bg: $yellow-100;

$sub-sup-font-size: 0.75em;

$font-family-code: var(--#{$prefix}font-monospace);

$text-muted: rgba(var(--#{$prefix}body-color-rgb), 0.75);

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem;

// Links
//
// Style anchor elements.

$link-color: #e37f07;
$link-decoration: underline;
$link-shade-percentage: 20%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-hover-decoration: null;

$stretched-link-pseudo-element: after;
$stretched-link-z-index: 1;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding-y: 0.5rem;
$table-cell-padding-x: 0.5rem;

$table-caption-color: $text-muted;

$table-th-font-weight: null;

// Code

$code-font-size: $small-font-size;
$code-color: $pink;

$kbd-padding-y: 0.1875rem;
$kbd-padding-x: 0.375rem;
$kbd-font-size: $code-font-size;
$kbd-color: var(--#{$prefix}body-bg);
$kbd-bg: var(--#{$prefix}body-color);
$nested-kbd-font-weight: null; // Deprecated in v5.2.0, removing in v6

$pre-color: null;

// Admonitions
//

// From https://squidfunk.github.io/mkdocs-material/reference/admonitions/
$icon-pencil: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83 3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75L3 17.25z"/></svg>');

// Header Gradient
$header-gradient-light: (
    "header-gradient-dir": 90deg,
    "header-gradient-1": $body-bg 0%,
    "header-gradient-2": $body-bg 33.333%,
    "header-gradient-3": $body-bg 66.666%,
    "header-gradient-4": $body-bg 100%,
    "header-box-shadow": "0 0.5rem 1rem #{rgba($primary, 0.35)}, inset 0 -1px 0 rgba(255,255,255,0.15)",
);

$header-gradient-dark: (
    "header-gradient-dir": 0deg,
    "header-gradient-1": #0c101b 0%,
    "header-gradient-2": #1c202b 33.333%,
    "header-gradient-3": #1c202b 66.666%,
    "header-gradient-4": #0c101b 100%,
    "header-box-shadow": none,
);

// Light mode Colors
$light-theme: map-merge(
    (
        "theme-toggler-border": #3b2c25,
        "border-color": rgba($secondary, 0.7),
        "border-color-posts": $primary,
        "inline-code-background-color": transparent,
        "inline-code-text-color": #29A3A2,
        "code-background-color": color.adjust($body-bg, $saturation: 80%, $lightness: 6%),
        "code-text-color": #657b83,
        "link-color": $link-color,
        "link-hover-color": shift-color($link-color, $link-shade-percentage),
        "link-color-visited": link-color-visited($link-color),
        "block-border-left": $primary,
        "color-admonition-title-background": rgba($secondary, 0.1),
        "color-admonition-title": var(--#{$prefix}block-border-left),
        "color-admonition-box-shadow-1": rgba(0, 0, 0, 0.05),
        "color-admonition-box-shadow-2": rgba(0, 0, 0, 0.1)
    ),
    $header-gradient-light
);

// Dark mode Colors
$dark-theme: map-merge(
    (
        "body-bg": #171c28,
        "body-color": $gray-100,
        "theme-toggler-border": rgb(2, 39, 78),
        "border-color": rgba($white, 0.5),
        "border-color-posts": rgba($white, 0.5),
        "inline-code-background-color": #002b36,
        "inline-code-text-color": #fdf6e3,
        "code-background-color": #002b36,
        "code-text-color": #fdf6e3,
        "link-color": #3abef0,
        "link-hover-color": shift-color(#3abef0, $link-shade-percentage),
        "link-color-visited": link-color-visited(#3abef0),
        "block-border-left": #651fff,
        "color-admonition-title-background": rgba(101, 31, 255, 0.1),
        "color-admonition-title": var(--#{$prefix}block-border-left),
        "color-admonition-box-shadow-1": rgba(255, 255, 255, 0.05),
        "color-admonition-box-shadow-2": rgba(255, 255, 255, 0.1)
    ),
    $header-gradient-dark
);
