.base_container {
    width: 100%;
    height: 464px;
    background-size: cover;
    z-index: -1;
    background-position: center center;
}

.top_container {
    overflow: hidden;
}
.inner_container {
    filter: blur(12px);
    transform: scale(1.05);
    background-attachment: scroll !important;
}

/* .bg-photo {
    background-image: url("https://1.bp.blogspot.com/-aaa9YqdCGVQ/YJmL-BcEfEI/AAAAAAAAjVg/M9i-xe0XgrcZCOAfXHK9SwFOmJDzFYPgwCLcBGAsYHQ/w1600/banner.png");
} */
