@import "../../node_modules/rfs/scss";
@import "variables";
@import "root";
@import "reboot";
@import "../../node_modules/tippy.js/dist/tippy.css";
@import "./code_style.scss";

// @import '../../node_modules/modern-normalize/modern-normalize.css';
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: color 350ms ease 0s, background 350ms ease 0s,
        background-color 350ms ease 0s;
}

// Fix images to occupy maximum size
img {
    height: auto;
    max-width: 100%;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
}
:root {
    @each $comp, $value in $light-theme {
        --#{$prefix}#{$comp}: #{$value};
    }
}
.dark {
    @each $comp, $value in $dark-theme {
        --#{$prefix}#{$comp}: #{$value};
    }
}
