body,
html {
    font-family: "Open Sans", sans-serif;
}
.aboutmediv {
    display: flex;
    border: 5px solid red;
    padding: 2%;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: lightblue;
}

.titlediv {
    border: 5px solid blue;
    padding: 2%;
    text-align: center;
}
