.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.temp_h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
}
.temp_img {
    display: block;
}
