.blog-post-content h1 {
    font-size: 40px;
}
.blog-post-content h2 {
    font-size: 32px;
}
.blog-post-content h3 {
    font-size: 24px;
}
.blog-post-content h4 {
    font-size: 20px;
}
.blog-post-content p {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.blog-post-content h1, h2, h3, h4, h5, img{
    padding-top: 8px;
    padding-bottom: 8px;
}
.blog-post-content a{
    text-decoration: wavy;
    color:blueviolet;
}
// .blog-post-content pre{
//     text-decoration: none;
//     padding-top: 10px;
//     padding-bottom: 10px;
// }
.blog-post-content .emoji {
    display: inline;
    // height: 25px;
    width: 1.6rem;
    vertical-align: -0.7em;
    margin: 0px 0.05em 0px 0.1em; 
}

.blog-post-content img{
    display: block;
    max-width: 100%;
    height: auto;
}
