.outer_class {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1.5rem;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20rem;
    margin-bottom: -20rem;
}

@media (min-width: 768px) {
    .core_blog_post {
        padding: 2.25rem !important;
    }
}
.core_blog_post {
    padding: 0.75rem;
    h1 {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
}
