@import "variables";

.outer_class {
    position: relative;
    background-color: var(--#{$prefix}body-bg);
    border-radius: 1.5rem;
    max-width: 732px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20rem;
    // margin-bottom: -20rem;
}

@media (min-width: 600px) {
    .outer_class {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 900px) {
    .outer_class {
        max-width: 752px;
    }
}

@media (min-width: 1200px) {
    .outer_class {
        max-width: 852px;
    }
}

@media (min-width: 1500px) {
    .outer_class {
        max-width: 952px;
    }
}

@media (min-width: 1800px) {
    .outer_class {
        max-width: 1052px;
    }
}

.core_blog_post {
    padding-top: 1rem;
    header {
        text-align: center;
    }
    h1 {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
}

@media (min-width: 640px) {
    .core_blog_post {
        padding-top: 1.25rem;
    }
}

@media (min-width: 768px) {
    .core_blog_post {
        padding-top: 2.25rem;
    }
}

.tagSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--#{$prefix}tag-background-color);
    color: var(--#{$prefix}tag-color);
}

.giscusComment {
    margin-top: 2rem;
    margin-bottom: 5rem;

    @media (min-width: 768px) {
        margin-bottom: 2rem;
    }
}