@import "variables";

.outer_class {
    position: relative;
    background-color: var(--#{$prefix}body-bg);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    max-width: min(686px, 100%);
    flex: 1 1 686px;
}

@media (min-width: 600px) {
    .outer_class {
        padding-left: 30px;
        padding-right: 30px;
    }
}


.core_blog_post {
    padding-top: 1rem;
    header {
        text-align: center;
    }
    h1 {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
}

@media (min-width: 640px) {
    .core_blog_post {
        padding-top: 1.25rem;
    }
}

@media (min-width: 768px) {
    .core_blog_post {
        padding-top: 2.25rem;
    }
}

.tagSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--#{$prefix}tag-background-color);
    color: var(--#{$prefix}tag-color);
}

.giscusComment {
    margin-top: 2rem;
    margin-bottom: 5rem;

    @media (min-width: 768px) {
        margin-bottom: 2rem;
    }
}

.twoSection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    max-width: 1100px;

    position: relative;
    z-index: 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;

    @media (max-width: 563px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    aside {
        flex: 0 100000 250px;
        display: none;
        position: sticky;
        top: 100px;
        max-height: calc(-148px + 100vh);
        overflow: auto;
        padding-bottom: 16px;
        margin-left: auto;

        background-color: var(--#{$prefix}body-bg);
        padding: 20px;

        margin-top: 2.25rem;

        @media (min-width: 1084px) {
            display: block;
        }

        .tocTitle {
            font-size: 1rem;
            margin-bottom: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
        }

        .tocLinks {
            display: block;
            opacity: 0.7;
            color: var(--color-gray-800);
            text-decoration: none;
            transition: opacity 500ms ease 0s;
            font-size: 1rem;
            line-height: 1.5;

            margin-top: 12px;
        }
    }
}

.headerImage {
    border-radius: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
