.container {
    padding: 2.5rem;
    a {
        color: inherit;
        text-decoration: inherit;
    }
}
@media (min-width: 768px) {
    .container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(5, minmax(0, 1fr));
    }
}
.image_container {
    font-size: var(--font-size-large);
    line-height: var(--font-size-large-line-height);
    border-radius: 1.5rem;
    border-width: 8px;
    border-color: var(--boder-color-light);
    padding: 0.75rem;
    margin-bottom: 1rem;
}
@media (min-width: 1280px) {
    .image_container {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
}
.link_to {
    padding: 0.75rem;
}

.images {
    display: block;
}

.post_title {
    padding-top: 1rem;
    padding: 0px;
    font-size: var(--font-size-xxlarge);
    line-height: var(--font-size-xxlarge-line-height);
    text-align: center;
}

@media (min-width: 1024px) {
    .post_title {
        padding-top: 1.5rem;
    }
}
