@import "../../node_modules/rfs/scss";


.blog-post-content {
    @include font-size(var(--font-size-base));
    padding-top: 8px;
    padding-bottom: 8px;
}

.blog-post-content h1,
h2,
h3,
h4,
h5,
img {
    padding-top: 8px;
    padding-bottom: 8px;
}
.blog-post-content a {
    text-decoration: wavy;
    color: blueviolet;
}
// .blog-post-content pre{
//     text-decoration: none;
//     padding-top: 10px;
//     padding-bottom: 10px;
// }
.blog-post-content .emoji {
    display: inline;
    // height: 25px;
    width: 1.6rem;
    vertical-align: -0.7em;
    margin: 0px 0.05em 0px 0.1em;
}

.blog-post-content img {
    display: block;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.blog-post-content video {
    display: block;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.blog-post-content ol {
    list-style: decimal;
}
.blog-post-content ul {
    list-style: decimal;
}
.blog-post-content ol,
ul {
    padding-left: 25px;
    margin-bottom: 20px;
}

.anchor.before {
    transform: translateX(-100%) translateY(150%) !important;
}
